<h1>Books</h1>
<% @books.each do |book| %>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
<% end %>
<%= link_to "Show", "/books/:id" %>

<%= link_to "Edit", "/books/:id" %>

<%= link_to "Destroy", "/books/:id" %>