<p><%= @book.title %></p>
<p><%= @book.body %></p>

<%= link_to "Edit", "/books/:id/edit" %>
<%= link_to "Back", "/books" %>

<%= link_to "Destroy", books_path(@book), method: :delete, "date-confilm" => "Are you sure?" %>